.navber {
    margin: auto;
    padding: 25px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}
.logo {
    font-size: 30px;
    font-weight: 800;
}
a {
    text-decoration: none;
    color: darkcyan;
}
a:hover {
    text-decoration: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link {
    font-size: 15px;
    font-weight: 600px;
    padding: 8px 26px;
    transition: 0.5 linear;
    color: #525252;
}
.links a {
    margin-left: 5px;
}
.link:hover {
    background-color: darkcyan;
    color: white;
}
.contact {
    color: #fff;
    background-color: darkcyan;
    padding-inline: 30px;
    border: 2px solid darkcyan;
}
.contact:hover {
    background-color: transparent;
    color: darkcyan;
}
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    font-family: 'Raleway', sans-serif;
}
img {
    width: 570px;
}
.right {
    margin-right: 10%;
}
.maintitle {
    font-size: 70px;
    color: lightcoral;
    margin-bottom: 20px;
}
span {
    color: darkcyan;
}
.right p{
    color: darkcyan;
    font-size: 15px;
    line-height: 26px;
}
.btn {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid darkcyan;
    color: darkcyan;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.btn:hover {
    border: 2px solid lightcoral;
    background-color: lightcoral;
    color: white;
}
footer {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
}
body{
    background-color: azure;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}